/* standard styles */
body {
  overflow-y: hidden;
  overflow-x: hidden!important;

  /* disable select */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
img, a {
  /* disable drag */
  -webkit-user-drag: none;
   -khtml-user-drag: none;
     -moz-user-drag: none;
       -o-user-drag: none;
          user-drag: none;
}
.hidden {
  display: none!important;
}
#content {
  background-color: white;
  min-height:100vh;
  min-width: 100vw;
  text-align:center;
  padding:30px;
  padding-top: 76px;
  padding-bottom: 76px;
  border-bottom: 5px solid #DC3545;
}
/* handle the content darken on sidebar open */
#content.darken {
  filter: brightness(0.2);
}
#content.darken select {
  pointer-events: none;
}
#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.capitalize {
  text-transform: capitalize;
}
.noscroll {
  position: fixed;
  overflow: hidden!important;
}

/* splash screen */
.splash {
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.splash img {
  width: 100vmin;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* status bar fix for ios */
#statusbar {
  position:fixed;
  height:80px;
  width:100vw;
  top:-80px;
  left:0;
  z-index:500;
}










#sidebar a {
  color: rgba(255,255,255,.5);
}

#sidebar a:hover {
  color: rgba(255,255,255,.75);
  text-decoration: none;
}


#sidebar ul {
  padding: 16px;
  opacity: 0;
}

#sidebar.active ul {
  opacity: 1;
}

#sidebar li {
  padding-top: 8px;
  padding-bottom: 8px;
}

#sidebar li.active a {
  color: #fff;
}

#sidebar li.disabled a {
  opacity: .5;
  pointer-events: none;
}

#sidebar ul {
  position: fixed;
  top: 56px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul ul {
  background: rgba(0, 0, 0, 0.075);
  position: initial;
  margin-top: 10px;
  margin-bottom: -8px;
  font-size: 0.9em !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*  a[data-toggle="collapse"] {
position: relative;
}*/

/*.dropdown-toggle::after {
display: block;
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
}*/

.dropdown-toggle::after {
display: inline-block;
/*margin-left: .255em;*/
margin-left: .510em;
vertical-align: .255em;
content: "";
border-top: .3em solid;
border-right: .3em solid transparent;
border-bottom: 0;
border-left: .3em solid transparent;
}

@media (max-width: 768px) {
#sidebar {
    margin-left: -250px;
}
#sidebar.active {
    margin-left: 0;
}
}

  .popup {
    z-index: 100;
  }



  /* navbar */
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
    transition: top 0.3s;
  }

  .navbar.hide {
    /*top: -56px;*/
    position: absolute;
    /*display: none;*/
  }

  /*.navbar.top {
    position: absolute;
  }*/

  /* sidebar toggle */
  .navbar {
    height: 56px;
  }
  .navbar-toggle {
    position: absolute;
    right: 16px;
  }
  /* turn hamburger into times */
  .navbar-dark .navbar-toggle .icon-bar {
    /*background-color: rgba(255,255,255,.5);*/
    background-color: #F59AA3;
  }
  .navbar-dark .navbar-toggle {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
  }
  .navbar-toggle {
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .navbar-toggle {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    /*border: none;*/
    background: transparent !important;
  }
  .navbar-toggle:hover {
    background: transparent !important;
  }
  .navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .navbar-toggle .top-bar {
    /*transform: rotate(45deg);*/
    transform: translate(3px)rotate(45deg);
    -webkit-transform: translate(3px) rotate(45deg);
    transform-origin: 10% 10%;
  }
  .navbar-toggle .middle-bar {
    opacity: 0;
  }
  .navbar-toggle .bottom-bar {
    /*transform: rotate(-45deg);*/
    transform: translate(3px)rotate(-45deg);
    -webkit-transform: translate(3px) rotate(-45deg);
    transform-origin: 10% 90%;
  }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
  }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
  }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
  }
  .navbar-toggle .icon-bar{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px
  }
  .navbar-toggle .icon-bar+.icon-bar{
    margin-top:4px
  }



  #about-popup .about-logo {
    margin-top:-20px;
    margin-bottom:-10px;
  }

  #about-popup .notice-contact {
    /*margin-bottom:8px;*/
  }

  #about-popup .notice-copyright {
    position:absolute;
    bottom:15px;
    margin:0;
  }


















#install-popup {
  display: table;
  text-align: center;
  position: fixed;
}


#install-popup .inner {
  display: table-cell;
  vertical-align: middle;
}

#install-popup .icon {
  max-width: 300px;
  margin: 20px;
  filter: drop-shadow(1px 1px 6px rgba(0,0,0,0.5));
}

#install-popup #install {
  margin-top: 50px;
  margin-bottom: 20px;
}

#install-popup .demo {
  margin: 0;
  width: 100%;
  padding: 20px;
}






/* content */
#categories-dropdown {
  text-transform: capitalize;
}


/* categories section */
.category .card {
  margin-bottom: 20px;
}
.category .card .card-img-top {
  padding: 5px;
}
.category .card .card-img-top .img {
  width: 100%;
  padding-top: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.category .card .regular {
  text-decoration: line-through;
  margin-right: 10px;
}
.category .card .brand-logo {
  height: 30px;
  margin-bottom: 10px;
}
.category .card a {
  text-decoration: none;
}
#categories {
  padding-top: 16px;
}




.navbar-brand img {
  position:absolute;
  height:50px;
  width:50px;
  top:3px;
}


.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  left: 0;
  padding: 30px;
  display: none;
}

.popup .head {
  text-align: center;
}

.popup .popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
}



/* remove select gloss on ios */
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 98% 50%;
  /*
  background-image:url(/down_arrow.gif);
  background-repeat:no-repeat;
  background-position:calc(100% - 10px);
  */
}
select::-ms-expand{
  display:none;
}
select, select option {
  text-transform: capitalize;
}




/* footer */
.footer {
  height:165px;
  padding:20px;
}
.footer .contact-link {
  float:right;
}
